/* Font classes */
html {
  --primary-font-family: "Montserrat Alternates", sans-serif;

  --primary-color: black;

  --secondary-font-family: "Kaushan Script", sans-serif;

  --secondary-color: white;

  --primary-secondary-font-size: 1rem;

  /* Background classes */

  --primary-background-color: #2a363c;

  --secondary-background-color: black;

  --third-background-color: lightgray;

  --white-background-color: white;

  --single-card-background-color: rgb(240, 240, 240);

  --footer-background-color: #f2f2f2;

  /* Classes for Sizing the components */

  --general-width: 1200px;

  /* Banner Sizing */

  --banner-height: 400px;
}
